*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
