.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbar a,
button {
  color: #e2cfa6;
  margin-right: 10px;
  /* font-weight: 600; */
  letter-spacing: 1px;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
